<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Pipe Sample Provider"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <service
            android:name=".DemoPaneService"
            android:exported="true">
            <intent-filter>
                <action android:name="tech.ssemaj.pipe.action.OPEN_PANE" />
            </intent-filter>
        </service>
    </application>
</manifest>
